<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.spring.mapper.LoginMapper">

    <insert id="saveUser"  parameterType="boot.spring.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
            (username, password)
        VALUES (#{user.username}, #{user.password})
    </insert>
    <select id="getUserByName" parameterType="String" resultType="boot.spring.entity.User">
        select *
        from user
        where username = #{name}
    </select>
    <select id="getNameById" parameterType="int" resultType="boot.spring.entity.User">
        select *
        from user
        where id = #{id}
    </select>

</mapper>